<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/UniUltra logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
  <div class = "navigationBar" ><!--height="200%" style="width:100%;"-->

    <div class="navSection">

      <a href="index">
        <img src="/images/imageedit_2_2824098619.png" class="navigationImage"/>
      </a>
      <div style="height: 100%; width: available;">
        <div class="dropdown"><div class="button">Product</div></div>
        <div class="dropdown"><div class="button" >Services</div>
          <div class="dropdown-content">
            <a href="ios_android_app">IOS/Andriod App</a>
            <a href="web_design">Web Design</a>
            <a href="iot_solutions">IoT Solutions</a>
            <a href="app_marketing">App Marketing</a>
            <a href="database_design">Database design</a>
            <a href="embeded_system">Embeded System</a>
            <a href="hardware_design">Hardware Design</a>
            <a href="app_maintenance">App Maintenance</a>
          </div>
        </div>
        <div class="dropdown"><div class="button">Pricing</div></div>
        <div class="dropdown"><div class="button">Contact Us</div></div>
      </div>
    </div>
  </div>
</head>

<body>
  <div class="container">
    <video width=100% height=100% autoplay muted loop>
      <source src="/images/Meeting - 2340.mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <p class="name" style="color: #9F7E0E;">UniUltra</p>
      <p class="name" style="color: #33E1FF;">Tech</p>
    </div>
  </div>

  <table width="100%" class="options" >
    <tbody>
      <tr width="100%" align="center">
        <td><img src="/images/contact Us.png"class="option.images"><div class="option.words">Contact Us</div></td>
        <td><img src="/images/free consultant.png"class="option.images"><div class="option.words">Free Consultant</div></td>
        <td><img src="/images/Start on project.png"class="option.images"><div class="option.words">Start on project</div></td>
      </tr>
    </tbody>

  </table>

  <div class="servicesRec">Services</div>
  <table class="table" width="100%" >
    <tbody>
      <tr>
        <td>
          <div  class="tableImages" style="float:left">
            <img src="/images/mobile-app-development-img.png" style="width:inherit; position: center;">
          </div>
          <div style="width:45%; position:relative; float: left;">
            <header class="infoTextHeader" style= "color:#339DFF">Cross Platform APP Dev</header>
            <div class="infoText">
              <p style="white-space: pre-line;">Came up with a cool idea but don't have a technical team to design your app?</p>
              <p style="white-space: pre-line;">We provide an efficient, thorough service on developing IOS/Andriod App development.</p>
              <p style="white-space: pre-line;">We start each client's project by providing a design team to come up with the idea of the project. Each project gets a professional development team, with project leads who will establish communication between clients.</p>
              <p style="white-space: pre-line;">Modification request will also be made after we submit our drafts, we will not publish the application until clients are satisfied with our works.</p>
              <p style="white-space: pre-line;">We are your professional technical team!</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="width:45%; position:relative; float:left; align: center">
            <header class="infoTextHeader" style="color:#FA9917">Web Development/Design</header>
            <div class="infoText">
              <p>Need to build a website for your startup?</p>
              <p>Don't worry, we have professional developers and designers who can work with you on the idea, and put them into beautiful websites.</p>
              <p>Our developer and UI design team helped many clients on building their UI/Products on websites</p>
              <p>Contact us today and get a free consultant on how to build your product with us!</p>
              <p>We are your professional technical team!</p>
            </div>
          </div>

          <div  class="tableImages" style="float:left">
            <img src="/images/output-onlinepngtools.png" style="width:inherit; position: center;">
          </div>

        </td>
      </tr>
      <tr>
        <td>
          <div  class="tableImages" style="float:left">
            <img src="/images/iot.png" style="width:inherit; position: center;">
          </div>
          <div style="width:45%; position:relative; float: left;">
            <header class="infoTextHeader" style= "color:#339DFF">Cross Platform APP Dev</header>
            <div class="infoText">
              <p>Any project that involve using hardwares with network in the scope of personal projects to enterprise management projects. We have the perfect team for you.</p>
              <p>Our consultant teams travels around the world to discuss your need in implementing projects like smart home, to company management systems. With our own hardware products, we are able to provide a complete service of making project proposal, implementing the project with construction teams, and maintaining the project once it is done.</p>
              <p>We are your professional technical team!</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="text">About Us</div>
  <table class = "aboutUs">
    <div class="test">
    <tr >
      <td class = "menu">
        <img src="/images/business.png">
        <p>24K</p>
        <p style="font-size: 22px;">Projects Worked On</p>
      </td>
      <td class = "menu">
        <img src="/images/technical team.png">
        <p>8</p>
        <p style="font-size: 22px;">Project Team</p>
      </td>
    </tr>
    <tr>
      <td class ="menu">
        <img src="/images/calendar.png">
        <p>8</p>
        <p style="font-size: 22px;">Years in Industry</p>
      </td>
      <td class="menu">
        <img src="/images/fire.png">
        <p>200%</p>
        <p style="font-size: 22px;">Energy Level</p>
      </td>
    </tr>
    </div>
    </tbody>
  </table>
  <footer>
    <div style="background: #000000; width:40%; float:left;">
      <p style="margin-bottom:5%;">SERVICES</p>
      <p>IOS/Android App</p>
      <p>Web Design</p>
      <p>IoT Solutions</p>
      <p>App Marketing</p>
      <p>Database Design</p>
      <p>Embedded Design</p>
      <p>Hardware Design</p>
      <p>App Maintenance</p>
    </div>
    <div style="background-color: #FA9917; width:60%; padding:5% 0; float:left; height:fit-content;">
      <div>
        <p>About Us</p>
        <p>Join Our Team</p>
      </div>
      <div>
        <p>Contact Us</p>
        <form method="POST" action="/contactUsForm">
          <input type="text" name="name" placeholder="Name"><br>
          <input type="email" name="email" placeholder="Email"><br>
          <input type="text" name="concern" placeholder="Tell us more about your concern in detail..."><br>
          <input type="submit" style="background: pink"value="Submit">
        </form>
      </div>
    </div>
  </footer>

</body>
</html>

