<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/UniUltra logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
  <div class = "navigationBar" height="">
    <div>
      <div class="a"><img src="/images/imageedit_2_2824098619.png" width=15% style="float: left;" /></div>
      <div class="b"><input class="button" value="Product"></div>
      <div class="b"><input class="button" value="Service"></div>
      <div class="b"><input class="button" value="Pricing"></div>
      <div class="b"><input class="button" value="Contact Us"></div>
    </div>
  </div>
</head>

<body>
  <div class="container">
    <video width=100% height=100% autoplay>
      <source src="<%=meetingVideo%>" type="video/mp4">
    </video>
    <div class="overlay">
      <p class="name" style="color: #9F7E0E;">UniUltra</p>
      <p class="name" style="color: #33E1FF;">Tech</p>
    </div>
  </div>

  <table width="100%" class="options" >
    <tbody>
      <tr width="100%" align="center">
        <td><img src="/images/contact Us.png" width="50%" class="option.images" border="1px"><div class="option.words">Contact Us</div></td>
        <td><img src="/images/free consultant.png"width="50%" class="option.images" border="1px"><div class="option.words">Free Consultant</div></td>
        <td><img src="/images/Start on project.png"width="50%" class="option.images" border="1px"><div class="option.words">Start on project</div></td>
      </tr>
    </tbody>
  </table>

  <span class="servicesRec">Services</span>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <img src="/images/mobile-app-development-img.png" class="table">
        </td>
        <td>
          <div>
            Came up with a cool idea but don't have a technical team to design your app?
            We provide an efficient, thorough service on developing IOS/Andriod App development.
            We start each client's project by providing a design team to come up with the idea of the project. Each project gets a professional development team, with project leads who will establish communication between clients.
            Modification request will also be made after we submit our drafts, we will not publish the application until clients are satisfied with our works.
            We are your professional technical team!
          </div>
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>

