html, body {
  margin: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
tr{

  width:70%;
}
.a {
  background-color: #A8F0E1;
  width: fit-content;
  position: center;
  height: 15%;
  /*width: 15%;*/
}

.b {
  background-color: #FA9917;
  border-color: #FA9917;
  text-align: center;
  float:left;
  width:25%;
  height: inherit;
  align-items: center;

  position: relative;
  display: inline-block;
  margin: 0;
}
.navigationBar {
  position:relative;
  width: 100%;
  height:98px;
  overflow:auto;
  display: table;
}
.navigationImage {
  width:15%;
  float: left;
  max-width: 100px;
  background-color: #A8F0E1;

}
.navSection {

  position:relative;
  height: 100%;
  width:100%;
  background-color: #FA9917;
  float:left;
  display: table-row;
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  /*display: inline-block;*/
  font-family: "American Typewriter", "Avenir Next Condensed";
  font-size: 20px;
  font-weight: lighter;
  height: 98px;
  width:calc((100%- 100px)/4);
  display: block;
  position: absolute;
  top: 39px;
  margin: 0;
}

.container {
    position:relative;
    text-align: left;
}
.container video {
  position:relative;
}
.overlay {
  position: absolute;
  font-size: 40pt;
  font-family: "American Typewriter", "Avenir Next Condensed";
  font-weight: lighter;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.name {
  float: left;
}
.options {
   table-layout: fixed ;
   width: 100% ;

  background-color: #FA9917;
 }
.option\.images {
  margin-top: 75px;
  width: 75%;
}
.option\.words {
  margin-bottom: 100px;
  font-family: "American Typewriter";
  font-weight: bold;
  font-size: 14pt;

  color: #339DFF;

}

.servicesRec {
  position:relative;
  padding-top:900px;
  width:100%;
  font-family: "American Typewriter", "Arial Rounded MT Bold";
  font-size: 40pt;
  font-weight: bold;
  color: #339DFF;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  float: top;
  border-color: #339DFF;
  border-top: 90px;
}

.table {
  width: 100%;
  position: absolute;
  margin-top: 5%;
  margin-bottom: 5%;
}

.tableImages {
  width: 55%;
  position: relative;
  top: 0;
  /*text-align: center;*/
  text-align: center;
  vertical-align: middle;
}

.infoTextHeader {
  font-size: 20pt;
  font-family: "American Typewriter";
  text-align: center;
  transform: translate(-5%);
}

.infoText {
  font-size: 13pt;
  font-weight: lighter;
  font-family: "American Typewriter";
  margin: 5%;
}




.dropdown {
  position: relative;
  display: inline-block;
  background-color: #FA9917;
  text-align: center;
  float:left;
  width: 15%; /* RIGHT HERE - To make the div bigger */
  margin-left: 5%; /* RIGHT HERE - To give it more space between the next div*/
  height: 50%;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top:98px;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: "American Typewriter";
  font-size: 12pt;
  font-weight: lighter;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
